html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #0f1014;
  color: #f9f9f9 !important;
  /* background-image: url(./login-background.jpg);
  background-position:  center center;
  background-repeat: none; */

}
a {
  color: #f9f9f9 !important;
  text-decoration: none;
}

@media screen and (min-width: 694px) and (max-width: 915px) {
  .movie {
    max-width: 33%;
  }
}

@media screen and (min-width: 652px) and (max-width: 693px) {
  .movie {
    max-width: 50%;
  }
}

@media screen and (max-width: 651px) {
  .movie {
    max-width: 100%;
    /* margin: auto; */
  }
}


